/* * {
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    width: 24rem;
    height: 40rem;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
}

.display {
    background-color: black;
    color: white;
    text-align: right;

    font-size: 5rem;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.opBtns {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
}

.btmBtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    flex: 1;
}

.numBtns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
}

.equalBtn {
    grid-row: span 4;
}

.equalBtn button {
    width: 100%;
    height: 100%;
}

button {
    font-size: 2.5rem;
    aspect-ratio: 1 / 1;
} */

/* Old CSS that was full of inconsistencies. Looked good, but a headache to deal with. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4
}

.calculatorBody {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-radius: 4px;

    width: 320px;
    height: 500px;
    /* gap: 15px; */
    padding: 10px;
    gap: 10px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: black;
    color: white;
    font-size: 4rem;

    height: 100px;
    padding: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.buttons button {
    font-size: 2rem;
    color: rgb(75, 75, 75);

    border: 2px black solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
    transition: background 0.2s;
}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    transform: scale(0.95);
}

.equalBtn #calculate:hover {
    background-color: #d77e00;
}

.opBtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.opBtns button {
    background-color: #555;
    color: rgb(233, 233, 233);
}

.btmBtns {
    display: flex;
    gap: 10px;
    flex: 1;
}

.numBtns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    flex: 3;
    gap: 10px;
}

.equalBtn {
    display: flex;
    flex: 1;
}

.equalBtn button {
    width: 100%;
    height: 100%;
    background-color: #ff9500;
}