* {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: white;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

.calc-container {
    border: 4px black solid;
    border-radius: 8px;

    height: 75vh;
    width: 60vw;

    background-color: white;
    color: black;
}

.calc-display {
    background-color: black;
    color: white;

    height: 20%;

    font-size: 5rem;

    margin: 10px;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}